<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game room</title>
</head>
<body>
    <%= roomCode %>
    <p id="loggedinas"></p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    const roomRegex = /^[A-Z0-9]{5}$/
    const userRegex = /^[a-zA-Z0-9_ ]+$/

    const storedUsername = sessionStorage.getItem('username');

    document.getElementById("loggedinas").textContent = `Welcome, ${storedUsername}!`;

    const socket = io();

    socket.emit('enter room', {username: storedUsername, roomCode: "<%= roomCode %>"});
    
    socket.on('success enter', (msg) => {

    })
    socket.on('joined room', (username) => {
        alert(`${username} joined the room`);
    })

    socket.on('redirect', (msg) => {
        window.location.href = msg;
    })
    </script>
</body>
</html>